<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>pipo</title>

    <!-- Bootstrap Core CSS -->
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "stylish-portfolio.css" %}">

  </head>

  <body id="page-top">

    <!-- Navigation -->

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">pipo</h1>
        <h3 class="mb-5">
          <em></em>
        </h3>
        <form method="post" enctype="multipart/form-data">
     	{% csrf_token %}
   		{{ form.as_p }}
          <br>
        <button class="btn btn-primary btn-xl js-scroll-trigger" type="submit">Transcrire</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Python 3 -  Django 2</h2>
            <p class="lead mb-5">Clémence, Sélim, Otman, Alban, Antoine, Benjamin</p>
          </div>
        </div>
      </div>
    </section>


  </body>

</html>
