.title{
    font-family: Helvetica;
    background-color: black;
    color: white;
    margin: auto;
    text-align: right;
    width: 40%;
    padding: 10px;
    font-size: 40px;

}

.upload{
    font-family: Helvetica;
    background-color: white;
    color: black;
    margin: auto;
    text-align: left;
    width: 40%;
    padding: 10px;
    font-size: 14px;
}
